
<h2>Welcome, {{username}}</h2>

<h3>What would you like to do?</h3>
<div class="row">
	<div id="allOptions" class="cl-md-6 cl-md-offset-3">
		<div class="option"><a role="button" href="/search">Find New Recipes</a></div>
		<div class="option"><a role="button" href="/favorites">Favorite Recipes</a></div>
		<div class="option"><a role="button" href="/list">My Grocery List</a></div>
	</div>
</div>

<div class="logout"><a href="/logout" class="btn btn-warning" role="button">Log Out</a></div>