

<div class="form">
	<h2>Login</h2>
	{{message}}
	<form action="/login" method="post">
		<p>Username</p>
		<input type="text" name="username">
		<p>Password</p>
		<input type="password" name="password">
		<input class="button" type="submit" value="Log In">
	</form>
	
</div>

<a class="signuplink" href="/register">No Account? Sign up here!</a>


