<h2>Find a New Recipe</h2>
<div class="allLinks">
	<a href="/home">Home</a>
	<a href="/search">Search</a>
	<a href="/favorites">Favorites</a>
	<a href="/list">Grocery List</a>
</div>

<div id="searchForm">
	<div class="row" id="searchDiv">
		<div id="searchRecipes" class="col-md-6 col-md-offset-3">
		<input type='text' id='searchBox'>
		<button id='searchButton' class="btn">Find!</button>
		</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div id="footer">Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a></div>
	</div>
</div>
</div>


<div id ="recipes"></div>



<script src="javascripts/minSearch.js"></script>
