

<div class="form">
	<h2>Sign Up</h2>
	<form action="/register" method="post">
		<p>Username</p>
		<input type="text" name="username">
		<p>Password</p>
		<input type="password" name="password">
		<input class="button" type="submit" value="Sign Up">
	</form>
</div>

<a class="signuplink" href="/">Already Registered? Sign In Here!</a>